* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background: #f1f5f8;
  color: #222;
}

.intro {
  text-align: center;
  font-family: sans-serif;
  padding-top: 1rem;
}

ul {
  display: block;
  list-style-type: none;
}

ul li {
  margin: 4em;
  background: #fff;
  padding: 1em;
  display: flex;
}

ul li img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-size: cover;
}

#font {
  font-family: sans-serif;
}

.error-btn {
  text-align: center;
  display: block;
  margin: 20px auto;
  font-family: sans-serif;
}

.item {
  text-align: center;
  font-family: sans-serif;
}
